@import "../../styles/theme.css";
.footer {
  background-color: var(--dark-gray);
  padding: 2rem 0;
  text-align: center;
  border-top: var(--blue) 2px solid;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  font-family: "Source Sans Pro", sans-serif; /* Ensure you include the font import */
  font-size: 2rem; /* Adjust size to your preference */
  color: #1e90ff; /* Blue color for the logo */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 0.1rem; /* Add spacing between letters */
}
